<div class="row mt-5">
    <div class="col-10 offset-1">
        <div class="card">
            <div class="card-header">
                <app-header-page-title 
                 header-title="Recorrências Movimentação Prevista" 
                 header-button-label="+ Nova Previsão"
                [header-button-link]="['/mov-prevista/new',dataIni | DateFormatToString, dataFim | DateFormatToString]">
            </app-header-page-title>
            <div class="p-field col-1 p-md-3" *ngIf="tipoRecorrencia=='P'">
                <label for="minmax-buttons">Parcelas:</label>
                <p-inputNumber size="3" [(ngModel)]="nrTotalParcelas" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="2" [max]="24">
                </p-inputNumber>
                <button pButton pRipple type="button" icon="pi pi-bookmark" (click)="gerarRecorrencias()" class="p-button-rounded p-button-secondary"></button>
            </div>
            </div> 
            <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr class="bg-dark text-light">
                                <th>Item Movimentação</th>
                                <th>Forma de Pagamento</th>
                                <th>Data de Vencimento</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let movPrevista of arMovPrevistaControles">
                                <td><strong>{{movPrevista.itemMovimentacao.descricao}}</strong></td>
                                <td><strong>{{movPrevista.formaPagamento.descricao}}</strong></td>
                                <td><strong>{{movPrevista.dataVencimento | date: 'dd/MM/yyyy'}}</strong></td>
                                <td><strong>{{movPrevista.valor | currency}}</strong></td>                                                                
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>