    <p-dropdown [options]="arResourceModel" 
                [inputId]="inputId"
                optionLabel="descricao" 
                optionValue="id" 
                [formControl]="formControl"
                placeholder="Selecione a Conta"
                [virtualScroll]="true" 
                [itemSize]="5"
                [showClear]="true" 
                [filter]="false" 
                (onChange)="onChange()"
                emptyMessage="Não encontrado"
                autoDisplayFirst="true" 
                [disabled]="isDisabled"
                autoWidth="false" 
                [style]="style"
                [styleClass]="styleClass">
    </p-dropdown>