<div class="row">
    <div class="col-3">
        {{this.labelContasSelecionadas}}
        <p-multiSelect [options]="arContas" 
                       [(ngModel)]="arSelectedContas"
                       defaultLabel="Todas as Contas" 
                       optionValue="id"
                       optionLabel="descricao"
                       displaySelectedLabel="true"
                       [maxSelectedLabels]="0"
                       [(selectedItemsLabel)]=labelContasSelecionadas
                       [showHeader]="true"
                       [panelStyle]="{'width':'100px'}"
                       [filter]="false"
                       (onChange)="filtrarDados(arSaldos, anoIni, anoFim)">
        </p-multiSelect>
    </div>
    <div class="col-3 mt-2 form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="chbxAgrupar" id="chbxAgrupar" (change)="filtrarDados(arSaldos, anoIni, anoFim)">
        <label class="form-check-label" for="flexCheckDefault">
            Agrupar por contas selecionadas
        </label>
    </div>
    <div class="col-3 mt-2 form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="chbxPercent" id="chbxPercent" (change)="filtrarDados(arSaldos, anoIni, anoFim)">
        <label class="form-check-label" for="flexCheckDefault">
            Visão por Percentual
        </label>
    </div>
</div>
<hr>
<div class="row justify-content-around">
    <div id="chart-saldos-anuais-conta" style="width: 100%;" class="hideChart"></div>    
</div>

