<div class="row">
    <div class="p-fluid col-3">
        <div class="p-field">
            <label>Visualização:</label>
            <p-dropdown [options]="arTiposGrafico" 
                        [(ngModel)]="idTipoGrafico"
                        optionLabel="Value" 
                        optionValue="Key" 
                        [showClear]="false" 
                        [filter]="false"
                        (onChange)="consultarDados()"
                        autoDisplayFirst="true"
                         >
            </p-dropdown>
        </div>        
    </div>
    <div class="p-fluid col-3" *ngIf="idTipoGrafico=='C' || idTipoGrafico=='I'">
        <div class="p-field">
            <label>Tipo:</label>
            <p-dropdown [options]="arTipos" 
                    [(ngModel)]="idTipo"
                    optionLabel="Value" 
                    optionValue="Key" 
                    [showClear]="false" 
                    [filter]="false"
                    (onChange)="consultarDados()"
                    emptyMessage="Tipo não encontrado"
                    autoDisplayFirst="true">
            </p-dropdown>
        </div>        
    </div>
    <div class="p-fluid col-3" *ngIf="idTipoGrafico=='C'">
        <div class="p-field">
            <label>Categoria:</label>
            <app-dropdown-categoria [form-group]="formGroup" 
                                [form-control]="formGroup.get('idCategoria')"
                                placeholder="--Selecione--"
                                [select-by-tipo-item-mov]="idTipo"  
                                (OnChange)="consultarDados()"
                                (OnClear)="consultarDados()">
            </app-dropdown-categoria>
        </div>        
    </div>
    <div class="p-fluid col-3" *ngIf="idTipoGrafico=='I'">
        <div class="p-field">
            <label>Item Movimentação:</label>
            <app-dropdown-item-movimentacao [form-group]="formGroup"
                                         [form-control]="formGroup.get('idItemMovimentacao')" 
                                         placeholder="--Selecione--"
                                         [select-by-idCategoria]="formGroup.get('idCategoria').value"
                                         [select-by-tipo-item-mov]="idTipo"
                                         (OnChange)="consultarDados()"
                                         (OnClear)="consultarDados()">
            </app-dropdown-item-movimentacao>
        </div>        
    </div>
    <div class="p-fluid col-3" *ngIf="idTipoGrafico=='C' || idTipoGrafico=='I'">
        <div class="p-field">
            <label>Conta:</label>
            <app-dropdown-conta [form-group]="formGroup" 
                                [form-control]="formGroup.get('idConta')"
                                placeholder="--Opcional--"
                                (OnChange)="consultarDados()"
                                (OnClear)="consultarDados()">
            </app-dropdown-conta>
        </div>        
    </div>
</div>
<hr>
<div *ngIf="isRenderChart==false" style="text-align: center; padding-top: 7rem; height: 16rem;">
    <strong>Dados não encontrados</strong>
</div> 
<div class="row justify-content-around">  
    <div id="chart-itemmov-mensais" style="width: 100%;"></div>    
</div>