<form [formGroup]="formGroupResource">
    <p-dropdown [options]="arResourceModel" 
                optionLabel="descricao" 
                optionValue="id" 
                [formControl]="formControl"
                [placeholder]="placeholder" 
                [virtualScroll]="arResourceModel.length > 5" 
                [showClear]="true" 
                [filter]="false"
                (onChange)="onChange()"
                emptyMessage="Item não encontrado"
                autoDisplayFirst="true" 
                [disabled]="isDisabled">
    </p-dropdown>
</form>
