<p-table [value]="arMovPrevistas" dataKey="nrParcela" editMode="row" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Item de Movimentação</th>
            <th>Forma de Pagamento</th>
            <th>Data de Vencimento</th>
            <th>Valor</th>
            <th style="width:8rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movPrevista let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="movPrevista">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        {{movPrevista.itemMovimentacao.descricao}}
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{movPrevista.itemMovimentacao.descricao}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="arFormasPagamento" optionLabel="descricao" optionValue="id"
                            [(ngModel)]="movPrevista.idFormaPagamento" [style]="{'width':'100%'}"
                            emptyMessage="Forma de Pagamento não encontrada">
                        </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{movPrevista.formaPagamento.descricao}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputMask [(ngModel)]="stDataVencimento[ri]" mask="99/99/9999" slotChar=" "></p-inputMask>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{movPrevista.dataVencimento | date: 'dd/MM/yyyy'}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber [(ngModel)]="stValor[ri]" inputId="locale-german" mode="decimal" locale="de-DE"
                            [minFractionDigits]="2">
                        </p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{movPrevista.valor | currency}}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td style="text-align:center">
                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(movPrevista, ri)" class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(movPrevista, ri)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(movPrevista, ri)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>