<div class="row mt-2">
    <div class="col-12">
        <div class="card mt-1">
            <div class="card-body">
                <div class="row">
                    <app-header-page-title header-title="Quitar Previsão" header-button-label=" Voltar >>"
                        [header-button-link]="['/mov-prevista', dataVencIni, dataVencFim]">
                    </app-header-page-title>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-2 ml-3">
                        <h6 class="card-title text-muted mb-1">Movimentação Prevista</h6>
                        <h6 class="card-subtitle">{{movimentacaoPrevista.itemMovimentacao.descricao}}</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title text-muted mb-1">Data de Vencimento</h6>
                        <h6 class="card-subtitle">{{movimentacaoPrevista.dataVencimento | date: 'dd/MM/yyyy'}}</h6>
                    </div>
                    <div class="col-2">
                        <h6 class="card-title text-muted mb-1">Forma de Pagamento</h6>
                        <h6 class="card-subtitle">{{movimentacaoPrevista.formaPagamento.descricao}}</h6>
                    </div>
                    <div class="col-1">
                        <h6 class="card-title text-muted mb-1">Valor Previsto</h6>
                        <h6 class="card-subtitle">{{movimentacaoPrevista.valor | currency}}</h6>
                    </div>
                    <div class="col-1">
                        <h6 class="card-title text-muted mb-1">Valor Pago</h6>
                        <h6 class="card-subtitle">{{valorTotalPago | currency}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-table">
            <div class="thead">
                <div class="th" style="text-align:center">Data de Movimentação</div>
                <div class="th">Conta</div>
                <div class="th">Forma de Pagamento</div>
                <div class="th" style="text-align:center">Valor (R$)</div>
                <div class="th" style="text-align:center;">
                    <button class="btn btn-outline-light btn-sm" (click)="addRow()">
                        <strong>+ Novo</strong>
                    </button>
                </div>
            </div>
        </div>
        <div class="scroll">
            <div class="grid-table">
                <div class="tbody">
                    <form class="tr" [formGroup]="fGroup" *ngFor="let fGroup of arForms.controls; let i=index;"
                        (submit)="salvar(fGroup, i)">
                        <div class="td" style="text-align:center">
                            <p-inputMask *ngIf="fGroup.get('isEdit').value == true" mask="99/99/9999"
                                formControlName="dataMovimentacaoRealizada" placeholder="99/99/9999"
                                slotChar="dd/mm/yyyy"></p-inputMask>
                            <span *ngIf="fGroup.get('isEdit').value == false">
                                {{fGroup.get('dataMovimentacaoRealizada').value}}
                            </span>
                        </div>
                        <div class="td">
                            <select class="form-select" formControlName="idConta" aria-disabled="isDisabled"
                                (change)="getConta($event, i)">
                                <option value=null disabled selected>Selecione</option>
                                <option *ngFor="let item of arContas" [value]="item.id">
                                    {{item.descricao}}
                                </option>
                            </select>
                            <!--
                            <app-dropdown-conta *ngIf="fGroup.get('isEdit').value == true" 
                             [form-group]="fGroup" [form-control]="fGroup.get('idConta')" style="font-size: 14px;"
                             (OnChange)="getConta($event, i)"></app-dropdown-conta>
                             -->
                            <span *ngIf="fGroup.get('isEdit').value == false">
                                {{fGroup.get('descricaoConta').value}}
                            </span>
                        </div>
                        <div class="td">
                            <select class="form-select" formControlName="idFormaPagamento" aria-disabled="isDisabled"
                                (change)="getFormaPagamento($event, i)">
                                <option value=null disabled selected>Selecione</option>
                                <option *ngFor="let item of arFormasPagamento" [value]="item.id">
                                    {{item.descricao}}
                                </option>
                            </select>
                            <!--
                            <app-dropdown-forma-pagamento *ngIf="fGroup.get('isEdit').value == true"
                                [form-group]="fGroup" [form-control]="fGroup.get('idFormaPagamento')"
                                style="font-size: 14px;" (OnChange)="getFormaPagamento($event, i)">
                            </app-dropdown-forma-pagamento>
                            -->
                            <span *ngIf="fGroup.get('isEdit').value == false">
                                {{fGroup.get('descricaoFormaPagamento').value}}
                            </span>
                        </div>
                        <div class="td" style="text-align:center">
                            <p-inputNumber *ngIf="fGroup.get('isEdit').value == true" formControlName="valor"
                                inputId="locale-german" mode="decimal" locale="de-DE" [minFractionDigits]="2">
                            </p-inputNumber>
                            <span *ngIf="fGroup.get('isEdit').value == false">
                                {{fGroup.get('valor').value | currency}}
                            </span>
                        </div>
                        <div class="td" style="text-align: center;">
                            <button *ngIf="fGroup.get('isEdit').value == true" type="submit"
                                class="btn btn-outline-dark btn-sm" [disabled]="!fGroup.valid">
                                <img src="assets/icons/save_black_18dp.svg">
                            </button>
                            <button *ngIf="fGroup.get('isEdit').value == false" class="btn btn-outline-dark btn-sm"
                                (click)="editRow(i)">
                                <img src="assets/icons/edit_note_black_18dp.svg">
                            </button>
                            &nbsp;
                            <button *ngIf="fGroup.get('id').value > 0" class="btn btn-outline-dark btn-sm"
                                (click)="modalDeleteMessage(fGroup.get('id').value, fGroup.get('dataMovimentacaoRealizada').value, i)"
                                data-bs-toggle="modal" data-bs-target="#modalDelete">
                                <img src="assets/icons/delete_black_18dp.svg">
                            </button>
                            <button *ngIf="fGroup.get('id').value == 0" class="btn btn-outline-dark btn-sm"
                                (click)="deleteRow(i)">
                                <img src="assets/icons/delete_black_18dp.svg">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-interrogative-form [modal-interrogative-id]="'modalDelete'" [modal-interrogative-title]="'Sr. Usuário'"
    [modal-interrogative-message]="deleteMessage" (modalInterrogativeResponse)="eventDelete($event)">
</app-modal-interrogative-form>


<p-dialog [modal]="true" [(visible)]="displayDialogErrors" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <div style="text-align: left;">
            <img class="logo" src="assets\icons\report_problem_black_24dp.svg" width="55" height="30">
            <strong>Erros de Validação</strong>
        </div>
    </ng-template>

    <ul>
        <li *ngFor="let error of arvalidationErrors" class="text-danger">
            <strong>{{ error.errors }}</strong>
        </li>
    </ul>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="clearValidations()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>