:host ::ng-deep .p-inputtext {
    font-size: small !important;
    text-align: center !important;
}

:host ::ng-deep .p-dropdown {
    font-size: small !important
}

:host ::ng-deep .p-dropdown-item {
    font-size: small !important
}

:host ::ng-deep .p-dropdown-label {
    font-size: small !important
}

.ml-3{
    margin-left: 5% !important;
}

.col-2 {
    width: 20% !important;
}

.col-1 {
    width: 15% !important;
}

.grid-table
{
	display:table;
    width: 100%;
}

.thead
{
	display:table-header-group;
	font-weight:bold;
    background-color: black;
    color: white;
    height: 40px;
}

.scroll{
    overflow: auto;
    height: 280px;
    width: 100%;
    border: 1px solid black !important;
}

.tbody
{
	display:table-row-group;    
}

.tr
{
	display:table-row;
    vertical-align: middle;
    height: 40px;
    border: 1px solid black !important;
}

.th {
    display: table-cell;
    vertical-align: middle;
    padding-left: 3px;
    width: 20% !important;
  }

.td
{
	display:table-cell;
    vertical-align: middle;
    padding-left: 3px;
    width: 20%;
}

.thead div.tr div.td:last-child{
    background-color: #fff;
}

span{
    font-size: medium;
}