.font-size-small{
    font-size: small;
}
label{
    padding-right: 5px;
}

:host ::ng-deep .p-inputtext {
    font-size: small !important
}


:host ::ng-deep .p-dropdown {
    font-size: small !important
}

:host ::ng-deep .p-dropdown-item {
    font-size: small !important
}

:host ::ng-deep .p-dropdown-label {
    font-size: small !important
}

:host ::ng-deep .p-datepicker-group-container {
    font-size: small !important
    
}