<div class="row justify-content-around mb-1"> 
  <div class="col-4" style="padding-top: 1%;">
    <h6>Despesas x Receitas Mensais</h6>
  </div> 
  <div class="field col-4">
      <label for="drpdMesAno">Mês/Ano:</label>
      <p-dropdown [options]="arFechamentosMensais" 
                      inputId="drpdMesAno"
                      optionLabel="mesAno" 
                      optionValue="dataReferencia" 
                      [virtualScroll]="arFechamentosMensais.length >=5" 
                      [(ngModel)]="selectedMesAno"
                      [showClear]="false" 
                      [filter]="false"
                      (onChange)="onChangeFechamento()"
                      emptyMessage="Não encontrado"
                      autoDisplayFirst="true">
       </p-dropdown>
  </div>
</div>
<hr>
<div *ngIf="arMovRealTipo.length==0" style="text-align: center; padding-top: 7rem; height: 16rem;">
  <strong>Dados não encontrados</strong>
</div>                
<div id="charts" class="row justify-content-around">
  <div id="chart-tipo" style="width: 50%;"></div>
  <div id="chart-item" style="width: 50%;" class="hideChart"></div>  
</div>