<div class="row mb-1"> 
  <div class="col-1" style="padding-top: 1%;">
    <h6>Mês/Ano:</h6>
  </div> 
  <div class="col-3">
    <p-dropdown [options]="arFechamentosMensais" 
                      optionLabel="mesAno" 
                      optionValue="dataReferencia" 
                      [virtualScroll]="true" 
                      [(ngModel)]="selectedMesAno"
                      [itemSize]="3"
                      [showClear]="false" 
                      [filter]="false"
                      (onChange)="onChange(0)"
                      emptyMessage="Não encontrado"
                      autoDisplayFirst="true">
    </p-dropdown>
  </div>
  <div class="col-1" style="padding-top: 1%;">
    <h6>Conta:</h6>
  </div> 
  <div class="col-3">
    <p-dropdown [options]="arContas" 
                      optionLabel="descricao" 
                      optionValue="id" 
                      [virtualScroll]="true" 
                      [(ngModel)]="idConta"
                      [itemSize]="3"
                      [showClear]="true" 
                      [filter]="false"
                      (onChange)="onChangeConta()"
                      emptyMessage="Não encontrado"
                      placeholder="Todas"
                      autoDisplayFirst="false">
    </p-dropdown>
  </div>
</div>
<hr>
<div id="charts" class="row justify-content-around">
  <div id="chart-tipo" style="width: 50%;"></div>
  <div id="chart-item" style="width: 50%;" class="hideChart"></div>
</div>