.hideChart{
  position:absolute;
  left:-1px;
}

.label-pesquisa{
  font-size: 12px;
  margin-left: 7px;
}

:host ::ng-deep .p-multiselect{
  font-size: 12px;
  width: 220px;
  margin-left: 5px;
  margin-right: 10px;
}

:host ::ng-deep .p-multiselect-label {
  font-size: 12px !important
}

:host ::ng-deep .p-multiselect-item {
  font-size: 12px !important
}

:host ::ng-deep .p-multiselect-empty-message {
  font-size: 12px !important
}

:host ::ng-deep .p-checkbox-box {
  font-size: 12px !important
}

:host ::ng-deep .p-inputtext {
  font-size: 12px !important;
  text-align:center !important;
  margin-left: 5px;
}

:host ::ng-deep .p-dropdown{
  font-size: 12px;
  margin-left: 5px;
  width: 195px;
}

:host ::ng-deep .p-dropdown-item{
  font-size: 12px;
}


:host ::ng-deep .p-conta{
  width: 215px!important;
}

.btn-excel{
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}

.img-excel{
  width: 20px;
  height: 20px;
}