<div class="row justify-content-around mb-1"> 
    <div class="field col-3">
      <label for="drpdCategoria">Categoria:</label>
      <p-dropdown       [options]="arCategoriasAux" 
                        inputId="drpdCategoria"
                        optionLabel="descricao" 
                        optionValue="id" 
                        [virtualScroll]="arCategoriasAux.length >=5" 
                        [(ngModel)]="idCategoria"
                        [showClear]="true" 
                        [filter]="false"
                        (onChange)="renderizarChart(arMovPrev)"
                        (onClear)="idCategoria=null"
                        emptyMessage="Não encontrado"
                        placeholder="Todas"
                        styleClass="p-dropdown-class"
                        autoDisplayFirst="false">
      </p-dropdown>
    </div>
    <div class="field col-3">
      <label for="drpdItemMov">Item Movimentação:</label>
      <p-dropdown       [options]="arItensMovAux" 
                        inputId="drpdItemMov"
                        optionLabel="descricao" 
                        optionValue="id" 
                        [virtualScroll]="arItensMovAux.length >=5" 
                        [(ngModel)]="idItemMovimentacao"
                        [showClear]="true" 
                        [filter]="false"
                        (onChange)="renderizarChart(arMovPrev)"
                        (onClear)="idItemMovimentacao=null"
                        emptyMessage="Não encontrado"
                        placeholder="Todas"
                        styleClass="p-dropdown-class"
                        autoDisplayFirst="false">
      </p-dropdown>
    </div>
</div>
<hr>
<div *ngIf="isRenderChart==false" style="text-align: center; padding-top: 7rem; height: 16rem;">
    <strong>Dados não encontrados</strong>
</div>                
<div class="row justify-content-around">
    <div id="chart-real-prev" style="width: 100%;" class="hideChart"></div>    
</div>