
tr.small>td {
   line-height: 0.5;

}

.text-success{
  font-weight: bold;
}

.scroll {
    height: 400px;
    overflow-y: scroll;
  }

  :host ::ng-deep .p-inputtext{
    font-weight: bold;
   }

  /*input do dropdown da conta*/
  :host ::ng-deep .p-dropdown-label .p-inputtext{
    text-align: left !important;
    padding-left: 1px !important;
    padding-right: 0px !important;
   }

    
  :host ::ng-deep .p-calendar > .p-inputtext{
    text-align: center !important;
    width:100px  !important;    
  }
  
  /*calendário*/
  :host ::ng-deep .p-datepicker-group-container{
    width:200px  !important;
  } 

  .card-body{
    padding-left: 0px;
    padding-right: 0px;
  }
  
/*margin-left dos labels da conta e calendário*/
:host ::ng-deep .p-inputwrapper-filled{
  margin-left: 10px;
}
