<div class="row mt-1">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row my-1"
                    style="border-bottom: 1px solid #DCDCDC; padding-bottom:10px; margin-bottom:10px;">
                    <div class="col-4">
                        <h4>Lançamentos Diários</h4>
                    </div>
                    <div class="col-4" style="text-align: center;">
                        <button class="btn btn-button bg-dark text-light" *ngIf="results.length > 0"
                            (click)="displayTransfer = true">
                            Transferir
                        </button>
                    </div>
                    <div class="col-4" style="text-align: right;">
                        <a class="btn btn-button bg-dark text-light"
                            [routerLink]="['/mov-realizada/new',dataIni | DateFormatToString, dataFim | DateFormatToString]">
                            + Novo Lançamento
                        </a>
                    </div>
                </div>
                <div class="row" style="padding-top:7px;">
                    <div class="col-4">
                        <app-dropdown-conta [form-group]="formGroup" 
                                            [form-control]="formGroup.get('idConta')"
                                            [select-by-status]="true"
                                            placeholder="Informe a Conta" 
                                            (OnChange)="getConta($event)">
                        </app-dropdown-conta>
                    </div>
                    <div class="col-4">
                        <app-dropdown-forma-pagamento [form-group]="formGroup"
                            [form-control]="formGroup.get('idFormaPagamento')" placeholder="Forma de Pagamento"
                            (OnChange)="getFormaPagamento()">
                        </app-dropdown-forma-pagamento>
                    </div>
                    <div class="col-4">
                        <strong class="font-size-small" style="margin-right: 14px;">Mês/Ano:</strong>
                        <p-calendar [(ngModel)]="dataIni" view="month" dateFormat="mm/yy" [readonlyInput]="true"
                            inputId="monthpicker"></p-calendar>
                        <p-button id="pesquisar" icon="pi pi-search" styleClass="p-button-sm p-button-secondary"
                            (click)="filtrarTablePorPeriodo()"></p-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-overflow">
            <div *ngFor="let item of results; let f = first">
                <div class="row" id="dvRow" style="margin-top: 2rem;">
                    <div class="col-12" id="dvSaldo">
                        <strong>{{item.dataSaldo | date: 'dd/MM/yyyy'}}</strong><br>
                        <span   *ngIf="f==false || (formGroup.get('idFormaPagamento').value!=null)">Saldo: {{item.valor | currency}}</span>
                        <strong *ngIf="f==true && formGroup.get('idFormaPagamento').value==null"> Saldo mensal: {{item.valor | currency}}</strong>
                    </div>
                </div>
                <div class="row" id="dvRow" *ngFor="let movRealizada of item.movimentacoesRealizadas;">
                    <div class="col-12 card" id="dvDetalhe" 
                         *ngIf="(formGroup.get('idFormaPagamento').value!=null && 
                                 formGroup.get('idFormaPagamento').value == movRealizada.formaPagamento.id) ||
                                (formGroup.get('idFormaPagamento').value==null)"
                        [class.text-success]="movRealizada.itemMovimentacao.tipo=='R'">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1" style="padding-top: 0.3rem;">                                    
                                    <span *ngIf="movRealizada.tipoPrioridade=='A'">
                                        <img class="logo" src="assets\icons\arrow_circle_up_black_24dp.svg"
                                            title="Prioridade: {{movRealizada.tipoPrioridadeDescricao}}" width="55"
                                            height="30">
                                    </span>
                                    <span *ngIf="movRealizada.tipoPrioridade=='M'">
                                        <img class="logo" src="assets\icons\remove_circle_outline_black_24dp.svg"
                                            title="Prioridade: {{movRealizada.tipoPrioridadeDescricao}}" width="55"
                                            height="30">
                                    </span>
                                    <span *ngIf="movRealizada.tipoPrioridade=='B'">
                                        <img class="logo" src="assets\icons\arrow_circle_down_black_24dp.svg"
                                            title="Prioridade: {{movRealizada.tipoPrioridadeDescricao}}" width="55"
                                            height="30">
                                    </span>
                                </div>
                                <div class="col-6">
                                    {{idx}}
                                    {{movRealizada.itemMovimentacao.categoria.descricao}}<br>
                                    <strong>{{movRealizada.itemMovimentacao.descricao}}</strong>
                                    ( {{movRealizada.formaPagamento.descricao}} )
                                </div>
                                <div class="col-3" style="padding-top: 0.5rem;">
                                    <button class="btn btn-outline-dark btn-sm me-3"
                                        *ngIf="item.status=='F' || movRealizada.itemMovimentacao.tipoOperacao=='TC'"
                                        (click)="modalDetalhe(movRealizada)">
                                        Detalhe
                                    </button>
                                    <a [routerLink]="['/mov-realizada/edit',movRealizada.id, dataIni | DateFormatToString, dataFim | DateFormatToString]"
                                        *ngIf="item.status=='A' && movRealizada.itemMovimentacao.tipoOperacao!='TC'"
                                        class="btn btn btn-outline-secondary me-1 btn-sm">
                                        Editar
                                    </a>
                                    <button class="btn btn btn-outline-secondary btn-sm"
                                        *ngIf="item.status=='A' && movRealizada.itemMovimentacao.tipoOperacao!='TC'"
                                        (click)="modalDeleteMessage(movRealizada.id)" data-bs-toggle="modal"
                                        data-bs-target="#modalDelete">
                                        Excluir
                                    </button>
                                </div>
                                <div class="col-2" style="text-align:right; padding-top: 1.3rem;">
                                    <label *ngIf="movRealizada.itemMovimentacao.tipo=='D'">-</label>
                                    {{movRealizada.valor | currency}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="loading" *ngIf="results.length == 0">
                <strong>Dados não encontrados</strong>
            </div>
        </div>
    </div>

    <app-modal-interrogative-form [modal-interrogative-id]="'modalDelete'" [modal-interrogative-title]="'Sr. Usuário'"
        [modal-interrogative-message]="'Deseja realizar a exclusão?'"
        (modalInterrogativeResponse)="eventDelete($event)">
    </app-modal-interrogative-form>

    <p-dialog header="Detalhe Lançamento" [(visible)]="displayDetalhe" [modal]="true" [style]="{width: '50vw'}"
        [draggable]="false" [resizable]="false">

        <div class="row">
            <div class="col-4">
                <label>Categoria:</label>
                <p><strong>{{movimentacaoRealizadaDetalhe.itemMovimentacao.categoria.descricao}}</strong></p>
            </div>
            <div class="col-4">
                <label>Item de Movimentacao:</label>
                <p><strong>{{movimentacaoRealizadaDetalhe.itemMovimentacao.descricao}}</strong></p>
            </div>
            <div class="col-4">
                <label>Prioridade:</label>
                <p><strong>{{movimentacaoRealizadaDetalhe.tipoPrioridadeDescricao}}</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label>Forma de Pagamento:</label>
                <p><strong>{{movimentacaoRealizadaDetalhe.formaPagamento.descricao}}</strong></p>
            </div>
            <div class="col-4">
                <label>Data do Pagamento:</label>
                <p><strong>{{movimentacaoRealizadaDetalhe.dataMovimentacaoRealizada | date: 'dd/MM/yyyy'}}</strong></p>
            </div>
            <div class="col-4">
                <label>Valor:</label>
                <p><strong>{{movimentacaoRealizadaDetalhe.valor | currency}}</strong></p>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Observação:</h6>
                            <p class="card-text">
                                <strong>{{movimentacaoRealizadaDetalhe.observacao}}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>

    <p-dialog header="Efetuar Transferência" [(visible)]="displayTransfer" [modal]="true" [style]="{width: '50vw'}"
        [draggable]="false" [resizable]="false">


        <div class="row card-conta">
            <div class="col-4">
                <h6 class="card-subtitle mb-2 text-body-secondary">Conta a ser debitada:</h6>
                <p *ngIf="contaDisplay!=null"><strong>{{contaDisplay.descricao}}</strong></p>
            </div>
            <div class="col-4">
                <h6 class="card-subtitle mb-2 text-body-secondary">Saldo disponível:</h6>
                <p><strong> {{saldoAtualConta | currency}}</strong></p>
            </div>
        </div>

        <form [formGroup]="formGroupTransfer" (submit)="Tranferir()" class="card-conta">
            <div class="row mb-3">
                <div class="col-6">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Conta de Destino:</h6>
                    <app-dropdown-conta 
                        [form-group]="formGroupTransfer"
                        [form-control]="formGroupTransfer.get('idContaDestino')"
                        [select-by-status]="true" 
                        placeholder="Informe a Conta">
                    </app-dropdown-conta>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Data:</h6>
                    <input pInputText formControlName="dataMovimentacaoRealizada"
                        type="date" placeholder="Informe a Data"/>
                </div>
                <div class="col-6">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Valor:</h6>
                    <p-inputNumber formControlName="valor" inputId="locale-german" mode="decimal" locale="de-DE"
                        placeholder="Informe o Valor" [minFractionDigits]="2">
                    </p-inputNumber>
                </div>
            </div>
            <div class="row mb-3" style="text-align: right;">
                <div class="col-12" style="padding-right: 45px;">
                    <app-button-submmit-form [button-disabled]="!formGroupTransfer.valid"
                        button-path-ico="assets/icons/autorenew_white_18dp.svg" button-title="Transferir">
                    </app-button-submmit-form>
                </div>
            </div>
        </form>

    </p-dialog>