#pesquisar {
  margin-left: 10px !important;
}

:host ::ng-deep .p-multiselect-label {
  font-size: small !important
}

:host ::ng-deep .p-multiselect-item {
  font-size: small !important
}

:host ::ng-deep .p-multiselect-empty-message {
  font-size: small !important
}

:host ::ng-deep .p-inputtext {
  font-size: small !important;
  text-align: center !important;
  width: 250px !important;
}

:host ::ng-deep .p-checkbox-box {
  font-size: small !important
}

:host ::ng-deep .p-dropdown {
  font-size: small !important;
  width: 300px !important;
}

:host ::ng-deep .p-calendar {
  width: 200px !important;
}

:host ::ng-deep .p-dropdown-item {
  font-size: small !important
}

:host ::ng-deep cdk-virtual-scroll-viewport{
  height: 140px !important;
}

:host ::ng-deep .p-datepicker-group-container {
  font-size: small !important
}

:host ::ng-deep .p-dialog .p-dialog-header{
  background-color: black;
  color: white;
}

.font-size-small {
  font-size: small;
}

.table-overflow {
  height: 400px;
  overflow-x: auto;
  overflow-y: scroll;
}

#loading{
  text-align: center; 
  padding-top: 7rem; 
  height: 16rem;
}

#dvRow{
  width: 95%;
}

#dvSaldo{
  text-align: left; 
  padding-left: 2rem; 
  font-size: small;
}

#dvDetalhe{
  background-color: #FAF0E6;
  margin-bottom: 0.6rem;
  margin-left: 1.9rem;
  font-size: small;
}

.card-conta{
  border: 1px solid #DCDCDC; 
  padding-top: 20px;
  padding-left: 20px; 
  margin: 5px 5px;
}

.card-body {
  padding: 0.7rem 0.7rem;
}