<app-header></app-header>

<div class="container mt-3">
    <router-outlet></router-outlet>
</div>
<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#f6f5f5" type="timer" [fullScreen]="true">
</ngx-spinner>


<p-toast position="center" key="message" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="text-center">
                <i [class]="iconeMessage" style="font-size: 2rem"></i>
                <h6>{{title}}</h6>
            </div>
            <div *ngFor="let item of messages">
                <p [class.text-left]="messages.length > 1" [class.text-center]="messages.length == 1">
                    {{item}}
                </p>
            </div>
            <!--
            <ul *ngIf="messages.length > 1" class="p-text">
                <li *ngFor="let item of messages">{{item}}</li>
            </ul>
            -->
        </div>
    </ng-template>
</p-toast>