.icone-header{
    font-size: 2rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 0px;
    background-color: black;
  }

:host ::ng-deep .p-message {
    font-size: small;
}