<div class="d-flex justify-content-between  align-items-center">
      <div class="d-flex justify-content-start">
        <h3 style="padding-right: 20px; padding-top:4px">Fechamento Mensal</h3>
        <div class="col-3">
          <p-dropdown [options]="arFechamentosMensais" 
                      optionLabel="mesAno" 
                      optionValue="dataReferencia" 
                      [(ngModel)]="selectedMesAno"
                      [virtualScroll]="true" 
                      [itemSize]="3"
                      [showClear]="false" 
                      [filter]="false"
                      (onChange)="onChange(0)"
                      emptyMessage="Não encontrado"
                      autoDisplayFirst="true">
          </p-dropdown>
        </div>      
      </div>
      <div class="col-2" style="text-align: center; padding-top:10px;">
         <div *ngIf="status=='A'" class="alert alert-success" style="height:50px;padding-top:7%;" role="alert">
            <strong>{{descricaoStatus}}</strong>
         </div>
         <div *ngIf="status=='F'" class="alert alert-danger" style="height:50px;padding-top:7%;" role="alert">
           <strong>{{descricaoStatus}}</strong>
         </div>
      </div>
</div>
<hr>
<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" state="phone">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Previsão Consolidada</ng-template>
      <div class="grid-table">
        <div class="thead">
            <div class="th"></div>
            <div class="th"style="text-align: right;">Em Aberto</div>
            <div class="th"style="text-align: right;">Não Aplicado</div>
            <div class="th"style="text-align: right;">Quitado</div>
            <div class="th"></div>
        </div>
      </div>
      <div class="grid-table" style="border: 1px solid black">
          <div class="tbody">
            <form class="tr" [formGroup]="fGroupPrev" *ngFor="let fGroupPrev of arFormsPrev.controls; let i=index;">
              <div class="td">{{fGroupPrev.get('tipo').value}}</div>
              <div class="td" style="text-align: right;">{{fGroupPrev.get('valorEmAberto').value | currency }}</div>
              <div class="td" style="text-align: right;">{{fGroupPrev.get('valorNaoAplicado').value | currency }}</div>
              <div class="td" style="text-align: right;">{{fGroupPrev.get('valorQuitado').value  | currency}}</div>
              <div class="td" style="text-align: center;">
                <input *ngIf="status=='A'" class="form-check-input" type="checkbox" formControlName="isChecked" required>
              </div>
            </form> 
          </div>
      </div>
      <div class="mt-2">
        <button id="buttonFirst" type="button" class="btn btn-dark" (mousemove)="firstNext()" matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" state="phone">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Últimos Lançamentos</ng-template>
      <div class="grid-table">
        <div class="thead">
            <div class="th">Conta</div>
            <div class="th" style="text-align: center;">Último Lançamento</div>
            <div class="th" style="text-align: right;">Saldo Atual</div>
            <div class="th"></div>
        </div>
      </div>
      <div class="scroll">
        <div class="grid-table">
            <div class="tbody">
              <form class="tr" [formGroup]="fGroupReal" *ngFor="let fGroupReal of arFormsReal.controls; let i=index;">
                <div class="td">{{fGroupReal.get('conta').value}}</div>
                <div class="td" style="text-align: center;">{{fGroupReal.get('dataSaldo').value | date:'dd/MM/yyyy' }}</div>
                <div class="td" style="text-align: right;">{{fGroupReal.get('valor').value | currency}}</div>
                <div class="td" style="text-align: center;">
                  <input *ngIf="status=='A'" class="form-check-input" type="checkbox" formControlName="isChecked" required>
                </div>
              </form> 
            </div>
        </div>
      </div>
      <div class="mt-2">
        <button id="buttonSecond"  type="button" class="btn btn-dark" matStepperPrevious style="margin-right: 10px;">Voltar</button>
        <button type="button" class="btn btn-dark" (mousemove)="secondNext()"  matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step state="phone">
    <ng-template matStepLabel>{{labelButton}} sistema</ng-template>
    <div class="mt-2">
      <button type="button" class="btn btn-dark" style="margin-right: 10px;" (click)="execute()">{{labelButton}}</button>
      <button *ngIf="status=='A'" type="button" class="btn btn-dark" (click)="setValueChecks('');stepper.reset();">Reset</button>
    </div>
  </mat-step>

  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-vertical-stepper>