<app-header-page-title [header-title]=title>        
</app-header-page-title>
<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Previsão Consolidada</ng-template>
      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col" style="width:25%;"></th>
            <th scope="col" style="text-align: right; width:25%;">Em Aberto</th>
            <th scope="col" style="text-align: right; width:25%;">Quitado</th>
            <th scope="col" style="width:25%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width:25%;">Despesas</td>
            <td style="text-align: right; width:25%;">R$10,00</td>
            <td style="text-align: right; width:25%;">R$50,00</td>
            <td style="text-align: center; width:25%;">
              <input class="form-check-input" type="checkbox" value="" formControlName="firstDespesa" required>              
            </td>
          </tr>
          <tr>
            <td style="width:25%;">Receitas</td>
            <td style="text-align: right; width:25%;">R$20,00</td>
            <td style="text-align: right; width:25%;">R$60,00</td>
            <td style="text-align: center; width:25%;">
              <input class="form-check-input" type="checkbox" value="" formControlName="firstReceita" required>              
            </td>
          </tr>                      
        </tbody>
    </table>
      <div>
        <button type="button" class="btn btn-dark"  matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Últimos Lançamentos</ng-template>
      <div class="grid-table">
        <div class="thead">
            <div class="th">Conta</div>
            <div class="th">Último Lançamento</div>
            <div class="th">Saldo Atual</div>
            <div class="th"></div>
        </div>
      </div>
      <div class="scroll">
        <div class="grid-table">
            <div class="tbody">
              <form class="tr" [formGroup]="fGroup" *ngFor="let fGroup of arForms.controls; let i=index;">
                <div class="td">{{fGroup.get('conta').value}}</div>
                <div class="td" style="text-align: center;">{{fGroup.get('dataSaldo').value | date:'dd/MM/yyyy' }}</div>
                <div class="td" style="text-align: right;">{{fGroup.get('valor').value | currency}}</div>
                <div class="td">
                  <input class="form-check-input" type="checkbox" formControlName="isChecked" required>
                </div>
              </form> 
            </div>
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-dark mr-1"  matStepperPrevious>Voltar</button>
        <button type="button" class="btn btn-dark" (mousemove)="next()"  matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fechar sistema</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>



<!--
<div class="card col-10 offset-1 mt-2">
    <div class="card-body">
        <app-header-page-title [header-title]=title>        
        </app-header-page-title>

        <div class="card mb-2">
            <div class="card-body">
                <h5>Previsão consolidada:</h5>
                <table class="table">
                    <thead class="bg-dark text-light">
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Em Aberto</th>
                        <th scope="col">Quitado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Despesas</td>
                        <td>10,00</td>
                        <td>50,00</td>
                      </tr>
                      <tr>
                        <td>Receitas</td>
                        <td>20,00</td>
                        <td>60,00</td>
                      </tr>                      
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5>Últimos Lançamentos por Conta:</h5>
                <table class="table">
                    <thead>
                        <tr class="bg-dark text-light">
                            <th>Conta</th>
                            <th style="text-align: center;">Último Lançamento</th>
                            <th style="text-align: right;">Saldo Atual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movRealizada of arMovRealizadas | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
                            <td>{{movRealizada.conta.descricao}}</td>
                            <td style="text-align: center;">{{movRealizada.dataSaldo | date:'dd/MM/yyyy' }}</td>
                            <td style="text-align: right;">{{movRealizada.valor | currency}}</td>
                        </tr>
                    </tbody>
                    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                </table> 
            </div>
        </div>
    </div>
</div>
-->