<form [formGroup]="formGroupResource">
    <p-dropdown [options]="arEnum" 
                optionLabel="Value" 
                optionValue="Key" 
                [formControl]="formControl"
                [placeholder]="placeholder"  
                [virtualScroll]="true" 
                [itemSize]="3"
                [showClear]="true" 
                [filter]="false" 
                (onChange)="onChange()"
                emptyMessage="Prioridade não encontrada"
                autoDisplayFirst="true" 
                [disabled]="isDisabled">
    </p-dropdown>
</form>