.footer{
    position: fixed;
    bottom: 0;
    font-size: 13px;   
    /*alinhar texto a direita*/
    display: flex;
    justify-content: flex-end;
    width: 100%;       
}
.p{
    vertical-align: middle; 
}