<form [formGroup]="formGroupResource">
    <p-dropdown [options]="arResourceModel" 
                optionLabel="descricao" 
                optionValue="id" 
                [formControl]="formControl"
                [placeholder]="placeholder" 
                [virtualScroll]="true" 
                [itemSize]="5"
                [showClear]="true" 
                [filter]="false" 
                (onChange)="onChange()"
                emptyMessage="Forma de Pagamento não encontrada"
                autoDisplayFirst="true" 
                [disabled]="isDisabled">
    </p-dropdown>
</form>