<div class="row mt-2">
    <div class="col-12">
        <div class="card mt-1">
            <div class="card-body">
                <div class="row">
                    <app-header-page-title header-title="Movimentações Previstas" header-button-label="+ Nova Previsão"
                        [header-button-link]="['/mov-prevista/new',dataIni | DateFormatToString, dataFim | DateFormatToString]">
                    </app-header-page-title>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-3">
                        <app-dropdown-categoria [form-group]="formGroup" 
                                                [form-control]="formGroup.get('idCategoria')" 
                                                placeholder="Categoria"
                                                (OnChange)="filtrarTablePorParametros($event)">
                        </app-dropdown-categoria>
                    </div>
                    <div class="col-3">
                        <app-dropdown-item-movimentacao [form-group]="formGroup" 
                                                        [form-control]="formGroup.get('idItemMovimentacao')" 
                                                        placeholder="Item de Movimentação"
                                                        (OnChange)="filtrarTablePorParametros($event)">
                        </app-dropdown-item-movimentacao>
                    </div>
                    <div class="col-3">
                        <app-dropdown-prioridade [form-group]="formGroup" 
                                                 [form-control]="formGroup.get('idPrioridade')" 
                                                 placeholder="Prioridade"
                                                 (OnChange)="filtrarTablePorParametros($event)">
                        </app-dropdown-prioridade>
                    </div>
                    <div class="col-3">
                        <app-dropdown-forma-pagamento [form-group]="formGroup" 
                                                      [form-control]="formGroup.get('idFormaPagamento')" 
                                                      placeholder="Forma de Pagamento"
                                                      (OnChange)="filtrarTablePorParametros($event)">
                        </app-dropdown-forma-pagamento>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <p-dropdown [options]="arEnumStatus" 
                                    [(ngModel)]="status" 
                                    optionLabel="Value" 
                                    optionValue="Key"
                                    placeholder="Status"
                                    [showClear]="true" 
                                    (onChange)="filtrarTablePorParametros()"></p-dropdown>
                    </div>
                    <div class="col-6">
                        <strong class="font-size-small" style="margin-right: 14px;">Período do Vencimento:</strong>
                        <p-calendar [(ngModel)]="dataIni" view="month" dateFormat="mm/yy" [readonlyInput]="true"
                            inputId="monthpicker"></p-calendar>
                        <strong class="font-size-small" style="margin-right: 5px; margin-left: 5px">a</strong>
                        <p-calendar [(ngModel)]="dataFim" view="month" dateFormat="mm/yy" [readonlyInput]="true"
                            inputId="monthpicker"></p-calendar>
                        <p-button id="pesquisar" icon="pi pi-search" styleClass="p-button-sm p-button-secondary"
                            (click)="filtrarTablePorPeriodo()"></p-button>
                    </div>
                    <div class="col-3" style="font-size:10.5px;">                      
                        <div class="card">
                            <div id="dvValorConsolidado" class="card-body">
                                <strong style="margin-right: 9px;">Receitas:</strong> <strong class="text-success">{{valorTotalReceita | currency}}</strong><br>
                                <strong style="margin-right: 4px;">Despesas:</strong> <strong class="text-danger" style="margin-right:0.1rem;">{{valorTotalDespesa | currency}}</strong>
                                <strong style="margin-right: 4px; margin-left: 8px;">Saldo:</strong> 
                                <strong [class.text-success]="valorTotalReceita > valorTotalDespesa"
                                        [class.text-danger] ="valorTotalReceita < valorTotalDespesa">{{valorTotalReceita-valorTotalDespesa | currency}}</strong>
                    
                            </div>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th style="text-align:center; width: 10%;">Prioridade</th>
                    <th style="text-align:center; width: 14%;">Data de Vencimento</th>
                    <th style="width: 20%;">Item de Movimentação</th>
                    <th style="width: 16%;">Forma de Pagamento</th>
                    <th style="text-align:center; width: 17%;">Valor (R$)</th>
                    <th style="text-align:center; width: 6.5%;">Status</th>
                    <th style="width: 16.5%;"></th>
                </tr>
            </thead>
        </table>
        <div class="table-overflow">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let movimentacaoPrevista of arMovPrevistas; let i=index;">
                        <td style="text-align:center; width: 10.2%;">
                            <span *ngIf="movimentacaoPrevista.tipoPrioridade=='A'">
                                <img class="logo" src="assets\icons\arrow_circle_up_black_24dp.svg"
                                    title="Prioridade: {{movimentacaoPrevista.tipoPrioridadeDescricao}}" width="49.5"
                                    height="27">
                            </span>
                            <span *ngIf="movimentacaoPrevista.tipoPrioridade=='M'">
                                <img class="logo" src="assets\icons\remove_circle_outline_black_24dp.svg"
                                    title="Prioridade: {{movimentacaoPrevista.tipoPrioridadeDescricao}}" width="49.5"
                                    height="27">
                            </span>
                            <span *ngIf="movimentacaoPrevista.tipoPrioridade=='B'">
                                <img class="logo" src="assets\icons\arrow_circle_down_black_24dp.svg"
                                    title="Prioridade: {{movimentacaoPrevista.tipoPrioridadeDescricao}}" width="49.5"
                                    height="27">
                            </span>
                        </td>
                        <td style="text-align:center; width: 14.5%;">
                            {{movimentacaoPrevista.dataVencimento | date:'dd/MM/yyyy'}}
                        </td>
                        <td style="width: 20.7%;">                            
                            <strong>{{movimentacaoPrevista.itemMovimentacao.descricao}}</strong><br>
                            {{movimentacaoPrevista.itemMovimentacao.categoria.descricao}}                         
                        </td>
                        <td style="width: 16.6%;">
                            {{movimentacaoPrevista.formaPagamento.descricao}}
                            <p *ngIf="movimentacaoPrevista.parcela!='' ">Parcela: {{movimentacaoPrevista.parcela}}</p>
                        </td>
                        <td style="text-align:center; width: 17.6%;">
                            <strong [class.text-success]="movimentacaoPrevista.itemMovimentacao.tipo=='R'"
                                [class.text-danger]="movimentacaoPrevista.itemMovimentacao.tipo=='D'">
                                {{movimentacaoPrevista.valor | currency}}
                            </strong>
                        </td>
                        <td style="text-align:center; width: 5%;">
                            <a *ngIf="movimentacaoPrevista.status=='A'"
                                [routerLink]="['/mov-prevista/quitar',movimentacaoPrevista.itemMovimentacao.id, movimentacaoPrevista.dataReferencia, dataIni | DateFormatToString, dataFim | DateFormatToString]"
                                class="btn btn-outline-primary btn-sm">
                                Quitar
                            </a>
                            <img *ngIf="movimentacaoPrevista.status=='Q'" class="logo text-start"
                                src="assets\icons\task_alt_black_24dp.svg"
                                title="Status: {{movimentacaoPrevista.statusDescricao}}" width="49.5" height="27">
                        </td>
                        <td style="text-align:center; width: 15.4%;">
                            <a [routerLink]="['/mov-prevista/edit',movimentacaoPrevista.itemMovimentacao.id, movimentacaoPrevista.dataReferencia, dataIni | DateFormatToString, dataFim | DateFormatToString]"
                                *ngIf="movimentacaoPrevista.status!='Q'" class="btn btn-outline-info btn-sm me-3">
                                Editar
                            </a>
                            <button *ngIf="movimentacaoPrevista.status!='Q' && movimentacaoPrevista.parcela == ''"
                                class="btn btn-outline-danger btn-sm"
                                (click)="modalDeleteMessage(movimentacaoPrevista.itemMovimentacao.id, movimentacaoPrevista.dataReferencia)"
                                data-bs-toggle="modal" data-bs-target="#modalDelete">
                                Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>      
    </div>
</div>

<app-modal-interrogative-form [modal-interrogative-id]="'modalDelete'" [modal-interrogative-title]="'Sr. Usuário'"
    [modal-interrogative-message]="'Deseja realizar a exclusão?'" (modalInterrogativeResponse)="eventDelete($event)">
</app-modal-interrogative-form>