<div class="row mt-5">
    <div class="col-12">
       <div class="mb-3">
          <app-header-page-title header-title="Movimentações Previstas" 
             header-button-label="+ Nova Previsão"
             header-button-link="/mov-prevista/new">
          </app-header-page-title>
       </div>        
        
        <p-table [value]="movimentacoes" [scrollable]="true" scrollHeight="240px"
        styleClass="p-datatable-striped p-datatable-sm">
            <ng-template pTemplate="header">
                <tr>
                    <th>Data de Vencimento</th>
                    <th>Item</th>
                    <th>Tipo</th>
                    <th style="text-align: right;">Valor</th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-movimentacao>
                <tr>
                    <td>{{movimentacao.dataVencimento}}</td>
                    <td>
                        <strong>{{movimentacao.itemMovimentacao}}</strong>
                        <p>{{movimentacao.categoria}}</p>
                    </td>
                    <td>{{movimentacao.tipo}}</td>
                    <td style="text-align: right;">{{movimentacao.valor}}</td>
                    <td>
                        <button class="btn btn-outline-primary btn-sm">
                            Quitar
                        </button>
                    </td>
                    <td style="text-align: center;">
                        <a class="btn btn-outline-info btn-sm me-3">
                            Editar
                        </a>
                        <button class="btn btn-outline-danger btn-sm">
                                Excluir
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>


        
        
        <!--
                <div *ngIf="resources.length > 0 else loading">
                    <table class="table table-hover">
                        <thead>
                            <tr class="bg-dark text-light">
                                <th>Descrição</th>
                                <th style="text-align: center;">Status</th>
                                <th style="text-align: center;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categoria of resources | orderBy: 'descricao' | paginate: { itemsPerPage: 5, currentPage: paginaAtual }; let i = index">
                                <td><strong>{{categoria.descricao}}</strong></td>
                                <td style="text-align: center;">
                                    <strong class="text-primary" *ngIf="categoria.status==true">Ativo</strong>
                                    <strong class="text-danger" *ngIf="categoria.status==false">Inativo</strong>
                                </td>
                                <td style="text-align: center;">
                                    <a [routerLink]="['edit',categoria.id]" class="btn btn-outline-info btn-sm me-3">
                                        Editar
                                    </a>
                                    <button class="btn btn-outline-danger btn-sm"
                                            (click)="resourceModalDeleteMessage(categoria.id, categoria.descricao)"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modalDelete">
                                            Excluir
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                    </table>                
                </div>                               
                <ng-template #loading>
                    <div style="text-align: center;">
                        <p><strong>{{resourceMessageTableNotFound}}</strong></p>
                    </div>
                </ng-template>
                -->


    </div>    
</div>
<div class="row">
    <div class="col-3">
        <a class="btn btn-dark me-3" routerLink="/mov-prevista-consulta-param">Filtros</a>
    </div>
</div>
<!--
<app-modal-interrogative-form [modal-interrogative-id]="'modalDelete'" 
    [modal-interrogative-title]="'Sr. Usuário'"
    [modal-interrogative-message]="resourceDeleteMessage" 
    (modalInterrogativeResponse)="resourceEventDelete($event)">
</app-modal-interrogative-form>
-->