<div class="row">
    <div class="col-10 offset-1">
        <div class="card">
            <div class="card-header">
                <app-header-page-title
                    header-title="Itens de Movimentação" 
                    header-button-label="+ Novo Item de Movimentação"
                    header-button-link="new">
                </app-header-page-title>
            </div>
            <div class="card-body">
                <div *ngIf="!resourceTableLoading && resources.length > 0 else loading">
                    <table class="table table-hover">
                        <thead>
                            <tr class="bg-dark text-light">
                                <th>Descrição</th>
                                <th>Tipo</th>
                                <th style="text-align: center;">Status</th>
                                <th style="text-align: center;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let itemMovimentacao of resources | orderBy: 'tipoDescricao' | paginate: { itemsPerPage: 3, currentPage: paginaAtual }; let i = index">
                                <td>
                                    <strong>{{itemMovimentacao.descricao}}</strong>   
                                    <p>{{itemMovimentacao.categoria.descricao}}</p>
                                </td>
                                <td>
                                    <strong>{{itemMovimentacao.tipoDescricao}}</strong>                                   
                                </td>
                                <td style="text-align: center;">
                                    <strong class="text-primary" *ngIf="itemMovimentacao.status==true">Ativo</strong>
                                    <strong class="text-danger" *ngIf="itemMovimentacao.status==false">Inativo</strong>
                                </td>
                                <td style="text-align: center;">
                                    <a [routerLink]="['edit',itemMovimentacao.id]" class="btn btn-outline-info btn-sm me-3">
                                        Editar
                                    </a>
                                    <button class="btn btn-outline-danger btn-sm"
                                            (click)="resourceModalDeleteMessage(itemMovimentacao.id, itemMovimentacao.descricao)"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modalDelete">
                                            Excluir
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                    </table>                
                </div>
                <ng-template #loading>                    
                    <div *ngIf="!resourceTableLoading && resources.length==0" style="text-align: center;">
                        <p><strong>{{resourceMessageTableNotFound}}</strong></p>
                    </div>                                  
                </ng-template>             
            </div>
        </div>
    </div>
</div>
<app-modal-interrogative-form [modal-interrogative-id]="'modalDelete'" 
    [modal-interrogative-title]="'Sr. Usuário'"
    [modal-interrogative-message]="resourceDeleteMessage" 
    (modalInterrogativeResponse)="resourceEventDelete($event)">
</app-modal-interrogative-form>