<!--CADASTRO-->
<div class="card col-10 offset-1 mt-5">
    <div class="card-body">
        <app-header-page-title [header-title]="resourcePageTitle" header-button-label=">> Voltar"
            [header-button-link]="['/mov-realizada', dataIni | DateFormatToString, dataFim | DateFormatToString]">
        </app-header-page-title>
        <form [formGroup]="resourceForm" (submit)="resourceSubmmit()">
            <div class="row  mt-3">
                <div class="p-fluid col-4">
                    <div class="p-field">
                        <label>Categoria:</label>
                        <app-dropdown-categoria *ngIf="this.resourceCurrentAction() != 'cons'"
                              [form-group]="resourceForm"
                              [form-control]="resourceForm.get('idCategoria')"
                              [disabled]="resourceCurrentAction()=='edit'"
                              [select-by-status]="resourceCurrentAction()=='new'"
                              (OnChange)="resourceClearValidations()"
                              placeholder="Selecione">
                        </app-dropdown-categoria>
                        <p><strong *ngIf="this.resourceCurrentAction() == 'cons'">{{descricaoCategoria}}</strong></p>
                    </div>
                </div>
                <div class="p-fluid col-4">
                    <div class="p-field">
                        <label>Item Movimentação:</label>
                        <app-dropdown-item-movimentacao *ngIf="this.resourceCurrentAction() != 'cons'"
                              [form-group]="resourceForm"
                              [form-control]="resourceForm.get('idItemMovimentacao')"
                              [disabled]="resourceCurrentAction()=='edit'"
                              [select-by-status]="resourceCurrentAction()=='new'"
                              [select-by-idCategoria]="resourceForm.get('idCategoria').value"
                              (OnChange)="resourceClearValidations()"
                              placeholder="Selecione">
                        </app-dropdown-item-movimentacao>
                        <p><strong *ngIf="this.resourceCurrentAction() == 'cons'">{{descricaoItemMovimentacao}}</strong></p>
                    </div>
                    <app-field-validation-form [form-control]="resourceForm.get('idItemMovimentacao')">
                    </app-field-validation-form>
                    <!--
                    <app-field-server-errors-form [server-errors]="resourceErrorsValidations('idItemMovimentacao')">
                    </app-field-server-errors-form>
                    -->
                </div>
                <div class="p-fluid col-4">
                    <div class="p-field">
                        <label>Prioridade:</label>
                        <app-dropdown-prioridade *ngIf="this.resourceCurrentAction() != 'cons'"
                              [form-group]="resourceForm"
                              [form-control]="resourceForm.get('tipoPrioridade')"
                              (OnChange)="resourceClearValidations()"
                              placeholder="Selecione">
                        </app-dropdown-prioridade>
                        <p><strong *ngIf="this.resourceCurrentAction() == 'cons'">{{descricaoPrioridade}}</strong></p>
                    </div>
                    <app-field-validation-form [form-control]="resourceForm.get('tipoPrioridade')">
                    </app-field-validation-form>
                    <!--
                    <app-field-server-errors-form [server-errors]="resourceErrorsValidations('tipoPrioridade')">
                    </app-field-server-errors-form>
                    -->
                </div>                
            </div>

            <div class="row  mt-3">
                <div class="p-fluid col-4">
                    <div class="p-field">
                        <label>Forma de Pagamento:</label>
                        <app-dropdown-forma-pagamento *ngIf="this.resourceCurrentAction() != 'cons'"
                               [form-group]="resourceForm"
                               [form-control]="resourceForm.get('idFormaPagamento')"
                               (OnChange)="resourceClearValidations()"
                               [select-by-status]="resourceCurrentAction()=='new'"
                               placeholder="Selecione">
                        </app-dropdown-forma-pagamento>
                        <p><strong *ngIf="this.resourceCurrentAction() == 'cons'">{{descricaoFormaPagamento}}</strong></p>
                    </div>
                    <app-field-validation-form [form-control]="resourceForm.get('idFormaPagamento')">
                    </app-field-validation-form>
                    <!--
                    <app-field-server-errors-form [server-errors]="resourceErrorsValidations('idFormaPagamento')">
                    </app-field-server-errors-form>
                    -->
                </div>
                <div class="p-fluid col-4">
                    <div class="p-field">
                        
                        <label for="dataMovimentacaoRealizada">Data do Pagamento:</label>
                        <input pInputText formControlName="dataMovimentacaoRealizada"
                               value="{{ dataMovimentacaoRealizada | date:'yyyy-MM-dd' }}"
                           type="date" placeholder="Informe a Data"/>
                           {{dataMovimentacaoRealizada}}
                        <!--
                        <p-calendar *ngIf="this.resourceCurrentAction() != 'cons'" inputId="calendar" dateFormat="dd/mm/yy" formControlName="dataMovimentacaoRealizada"
                            [showIcon]="true" [readonlyInput]="true" showButtonBar="true">
                        </p-calendar>
                        -->
                       
                        <p><strong *ngIf="this.resourceCurrentAction() == 'cons'">{{resourceForm.get('dataMovimentacaoRealizada').value | date:'dd/MM/yyyy' }}</strong></p>
                    </div>                    
                    <app-field-validation-form [form-control]="resourceForm.get('dataMovimentacaoRealizada')">
                    </app-field-validation-form>
                    <!--
                    <app-field-server-errors-form [server-errors]="resourceErrorsValidations('dataMovimentacaoRealizada')">
                    </app-field-server-errors-form>
                    -->
                </div>
                <div class="p-fluid col-4">
                    <div class="p-field">
                        <label for="valor">Valor (R$):</label>
                        <p-inputNumber *ngIf="this.resourceCurrentAction() != 'cons'" formControlName="valor" inputId="locale-german" mode="decimal" locale="de-DE"
                            [minFractionDigits]="2">
                        </p-inputNumber>
                        <p><strong *ngIf="this.resourceCurrentAction() == 'cons'">{{resourceForm.get('valor').value | currency }}</strong></p>
                    </div>                    
                    <app-field-validation-form [form-control]="resourceForm.get('valor')"></app-field-validation-form>
                    <!--
                    <app-field-server-errors-form [server-errors]="resourceErrorsValidations('valor')">
                    </app-field-server-errors-form>
                    -->
                </div>
            </div>

            <div class="row mt-3" *ngIf="this.resourceCurrentAction() != 'cons'">
                <div class="p-fluid col-7">
                    <span class="p-float-label">
                        <textarea formControlName="observacao" id="float-input" rows="4" cols="70"
                            pInputTextarea></textarea>
                        <label for="float-input">Observação</label>
                    </span>  
                    <!--                          
                    <app-field-server-errors-form [server-errors]="resourceErrorsValidations('observacao')">
                    </app-field-server-errors-form>
                    -->
                </div>
                <div class="p-fluid col-5">
                    <div class="p-field">
                        <label>Conta:</label>
                        <app-dropdown-conta 
                              [form-group]="resourceForm"
                              [form-control]="resourceForm.get('idConta')"
                              (OnChange)="resourceClearValidations()"
                              [select-by-status]="resourceCurrentAction()=='new'"
                              placeholder="Selecione">
                        </app-dropdown-conta>
                        <p><label>Saldo: {{saldoConta | currency}}</label></p>
                        <p><strong *ngIf="this.resourceCurrentAction() == 'cons'">{{descricaoConta}}</strong></p>
                    </div>
                    <app-field-validation-form [form-control]="resourceForm.get('idConta')">
                    </app-field-validation-form>
                    <!--
                    <app-field-server-errors-form [server-errors]="resourceErrorsValidations('idConta')">
                    </app-field-server-errors-form>
                    -->
                </div>
            </div>

            <div class="row mt-3" *ngIf="this.resourceCurrentAction() == 'cons'">
                <div class="p-fluid col-4">
                    <div class="p-field">
                        <label>Conta:</label>
                        <p><strong *ngIf="this.resourceCurrentAction() == 'cons'">{{descricaoConta}}</strong></p>
                    </div>
                </div>
                <div class="p-fluid col-8" *ngIf="resourceForm.get('observacao').value != null">
                    <div class="card">
                        <div class="card-body">
                          <h6 class="card-subtitle mb-2 text-muted">Observação:</h6>
                          <p class="card-text"><strong>{{resourceForm.get('observacao').value}}</strong></p>
                        </div>
                    </div>     
                </div>                       
            </div>

            <div class="row mt-3" *ngIf="this.resourceCurrentAction() != 'cons'">
                <div class="col-12 mt-4" style="text-align: right;">
                    <a class="btn btn-dark me-3"
                        [routerLink]="['/mov-realizada', dataIni | DateFormatToString, dataFim | DateFormatToString]">
                        Cancelar
                    </a>
                    <app-button-submmit-form [button-disabled]="!resourceForm.valid"
                        button-path-ico="assets/icons/save-white-18dp.svg" button-title="Salvar">
                    </app-button-submmit-form>
                </div>
            </div>

        </form>
    </div>
</div>