<div class="card col-4 mt-5 mx-auto">

    <div class="card-header bg-dark">
      <div class="center text-white">
        <strong>Login de Usuário</strong>
      </div>
    </div>
  
    <div class="card-body">
      <form [formGroup]="formLogin" (ngSubmit)="autenticar()">
        <div class="form-group col-12">
          <label for="name">e-mail:</label>
          <input type="text" class="form-control" formControlName="eMail"/>
          <app-field-validation-form [form-control] = "formLogin.get('eMail')"></app-field-validation-form>
        </div>
  
        <div class="form-group col-12 mt-4">
          <label for="description">Senha:</label>
          <input type="text" type="password" class="form-control" formControlName="senha"/>
          <app-field-validation-form [form-control] = "formLogin.get('senha')"></app-field-validation-form>
         </div>
  
        <div class="mt-4" style="text-align: right;">
          <app-button-submmit-form [button-disabled]="!formLogin.valid"
           button-title="AcessarTeste20" button-path-ico="assets/icons/lock-white-18dp.svg">
          </app-button-submmit-form>
        </div>
      </form>
    </div>
  </div>