<div class="row">
  <app-alert-form [form-alert-message]="resourceAlertMessage">
  </app-alert-form>

  <div class="col-6 offset-3 mt-3">
    <h4>Cadastrar Usuário</h4>
    <hr>
    <form [formGroup]="resourceForm" (submit)="resourceSave()">

      <div class="form-group col-12">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" formControlName="nome" (keyup)="resourceClearValidations()" />
        <app-field-validation-form [form-validations]="resourceValidations('Nome')">
        </app-field-validation-form>
      </div>

      <div class="form-group col-12 mt-3">
        <label for="email">E-mail de acesso:</label>
        <input type="text" class="form-control" formControlName="eMail" (keyup)="resourceClearValidations()" />
        <app-field-validation-form [form-validations]="resourceValidations('EMail')">
        </app-field-validation-form>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group mt-3">
            <label for="senha">Senha de acesso:</label>
            <input type="text" type="password" class="form-control" formControlName="senha"
              (keyup)="resourceClearValidations()" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mt-3">
            <label for="confirmarSenha">Confirmar Senha:</label>
            <input type="text" type="password" class="form-control" formControlName="confirmarSenha" />
          </div>
        </div>
        <app-field-validation-form [form-validations]="resourceValidations('Senha')">
        </app-field-validation-form>
        <span>
          <ul class="text-danger" *ngIf="!validatorConfirmarSenha.pristine && validatorConfirmarSenha.errors">
            <li *ngIf="validatorConfirmarSenha.errors.senhasNaoConferem">As senhas não conferem</li>
          </ul>
        </span>

      </div>

      <div class="mt-3" style="text-align: right;">
        <app-button-save-submmit-form [form-button-disabled]="!resourceForm.valid || resourceMessageButton!=null"
          [form-button-message]="resourceMessageButton">
        </app-button-save-submmit-form>
      </div>
      
    </form>
  </div>
</div>