name: Build Local Docker utilizando o Docker Compose

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    # Garante que o comando rode no seu computador (Self-hosted Runner)
    runs-on: self-hosted
    
    strategy:
      matrix:
        node-version: [14.x] # Angular 12 funciona bem com Node 14
        
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
        
      #- name: Limpar ambiente e liberar porta 8080
        #shell: powershell
        # Define que todos os comandos 'run' deste passo rodam dentro da pasta correta
        #working-directory: ./appGestaoFinanceira
        #run: |
          # 1. Derruba os containers
          #docker-compose down --remove-orphans
          
          # 2. Tenta encontrar e matar o processo na porta 8080 (sem dar erro se não houver nada)
          #$conn = Get-NetTCPConnection -LocalPort 8080 -ErrorAction SilentlyContinue
          #if ($conn) {
              #Write-Host "Limpando processo na porta 8080..."
              #Stop-Process -Id $conn.OwningProcess -Force
          #} else {
              #Write-Host "Porta 8080 já está livre."
          #}
     
      - name: Build Limpo e Deploy
        # Define que todos os comandos 'run' deste passo rodam dentro da pasta correta
        shell: powershell
        working-directory: ./appGestaoFinanceira
        env:
          DOCKER_HOST: npipe:////./pipe/docker_engine
        run: |
          docker-compose build --no-cache
          docker-compose up -d