<div class="row mt-5">
    <div class="col-12">       
            
                <app-header-page-title
                    header-title="Movimentações Previstas" 
                    header-button-label="+ Nova Previsão"
                    header-button-link="/mov-prevista/new">
                </app-header-page-title>
                <hr>
                      
                <form>
                    <div class="row  mt-4">                        
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                  <h6 class="card-subtitle mb-2 text-muted">Vencimento:</h6>
                                  <div class="row">
                                      <div class="col-6">
                                        <p-calendar [showIcon]="true" dateFormat="dd.mm.yy"></p-calendar>
                                      </div>
                                      <div class="col-6">
                                        <p-calendar [showIcon]="true" dateFormat="dd.mm.yy"></p-calendar>
                                      </div>
                                  </div>
                                </div>
                              </div>
        <!--
                            <app-field-validation-form [form-control]="">
                            </app-field-validation-form>
                        -->
                        </div>

                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                  <h6 class="card-subtitle mb-2 text-muted">Tipo:</h6>
                                  <div class="row">
                                    <select class="mt-1">
                                        <option *ngFor="let tipo of tipos" [value]="tipo.Key">{{tipo.Value}}</option>
                                      </select>
                                  </div>                                  
                                </div>
                            </div>
        <!--
                            <app-field-validation-form [form-control]="">
                            </app-field-validation-form>
                        -->
                        </div>

                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                  <h6 class="card-subtitle mb-2 text-muted">Prioridade:</h6>
                                  <div class="row">                                    
                                        <select class="mt-1">
                                            <option *ngFor="let prioridade of prioridades" [value]="prioridade.Key">{{tipo.Value}}</option>
                                        </select>                                   
                                  </div>                                  
                                </div>
                            </div>
        <!--
                            <app-field-validation-form [form-control]="">
                            </app-field-validation-form>
                        -->
                        </div>
                        
                    </div>
        
                    <div class="row  mt-4">
                       
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                  <h6 class="card-subtitle mb-2 text-muted">Categoria:</h6>
                                  <div class="row">                                    
                                        <select class="mt-1">
                                            <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.descricao}}</option>
                                        </select>                                   
                                  </div>                                  
                                </div>
                            </div>
        <!--
                            <app-field-validation-form [form-control]="">
                            </app-field-validation-form>
                        -->
                        </div>
        
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                  <h6 class="card-subtitle mb-2 text-muted">Item de Movimentação:</h6>
                                  <div class="row">                                    
                                        <select class="mt-1">
                                            <option *ngFor="let itemMov of itensMovimentacao" [value]="itemMov.id">{{itemMov.descricao}}</option>
                                        </select>                                   
                                  </div>                                  
                                </div>
                            </div>
        <!--
                            <app-field-validation-form [form-control]="">
                            </app-field-validation-form>
                        -->
                        </div>

                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                  <h6 class="card-subtitle mb-2 text-muted">Forma de Pagamento:</h6>
                                  <div class="row">                                    
                                        <select class="mt-1">
                                            <option *ngFor="let formaPag of formasPagamento" [value]="formaPag.id">{{formaPag.descricao}}</option>
                                        </select>                                   
                                  </div>                                  
                                </div>
                            </div>
        <!--
                            <app-field-validation-form [form-control]="">
                            </app-field-validation-form>
                        -->
                        </div>
                        
                    </div>
                    <div class="row mt-4">
                        <div class="col-3">
                            <a class="btn btn-dark me-3" routerLink="/mov-prevista-consulta-list">Consultar</a>
                        </div>
                    </div>
                </form>  
    </div>
</div>